<div class="container mt-4">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron">
                <h1 class="display-4">Gamespot News Scraper</h1>
                <p class="lead">Gaming news. Not written by me, delivered to you.</p>
                <hr class="my-4">
                <p>Click the button below to get the latest from Gamespot.</p>
                <div class="text-center">
                    <button class="btn btn-primary btn-lg" id="scrapeBtn" role="button">Scrape For New Articles</button>
                </div>
            </div>
        </div>
    </div>
    <div id="articles"></div>
</div>

{{>scripts}}
<script src="assets/js/index.js"></script>